.a {
  width: 100px;
  height: 100px;
  background-color: #d42929;
}
.b {
  width: 100px;
  height: 100px;
  background-color: #47b315;
}
.c {
  width: 100px;
  height: 100px;
  background-color: #2f1dd8;
}
