.a {
  background-color: red;
  width: 100px;
  height: 100px;
  
}
.b {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  
}
.c {
  background-color: blue;
  width: 100px;
  height: 100px;
  
}
